@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply w-72 aspect-square relative m-auto;
  }

  .card-front,
  .card-back {
    @apply absolute inset-0 grid m-auto h-full place-content-center rounded-2xl shadow-lg;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: ease-in-out 600ms;
    transform-style: preserve-3d;
  }

  .card-front {
    @apply text-primary bg-white;
  }

  .card-back {
    @apply text-white bg-primary;
    transform: rotateY(-180deg);
  }

  .card-reveal .card-front {
    transform: rotateY(180deg);
  }

  .card-reveal .card-back {
    transform: rotateY(0deg);
  }
}
